<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <title>Transcribly</title>
</head>
<body>
    <div id="title-container">
        <div class="title">Transcribly</div>
        <div class="about">Say goodbye to the frustration of unselectable text on images! Introducing Transcribly, the ultimate solution for effortlessly extracting and summarizing text from images!</div>
    </div>
    <div id="container">
        <div class="image-container">
            <form class="image-button" action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="file">
                <input type="submit" value="Upload">
                {% if filename %}
                    <div>{{ filename }} uploaded</div>
                    <img class="image" src="{{ url_for('static', filename='uploads/' + filename) }}" alt="Uploaded Image">
                {% endif %}
            </form>
            
        </div>
        <div class="summary-container">
            <div class="chat-gpt-title"> Chat-GPT Summary</div>
            {% if response %}
            <div class="chat-gpt-summary">{{response}}</div>
            {% endif %}
        </div>
    </div>
    <form class="generate" action="upload/summary" method="post">
        <button class="button" type='submit'>Generate</button>
    </form>
    

</body>
</html>